*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: rgb(157, 212, 172);
  font-family: 'Montserrat', sans-serif;
}
.color-orange {
  color: #e2882f;
}
.family-Nerko {
  font-family: 'Nerko One', cursive;
}
.error {
  font-size: 1.2rem;
  color: tomato;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.567);
}
