*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
 min-height: 100vh;
 background-color: #c9dcbe;
 font-family: 'Montserrat', sans-serif;
}
.color-orange{
  color:#e2882f;
}