*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: #a5e8b78c;
  font-family: 'Montserrat', sans-serif;
}
.color-orange {
  color: #e2882f;
}
.family-Nerko {
  font-family: 'Nerko One', cursive;
}
.error {
  font-size: 1.2rem;
  color: tomato;
}
